<section id="servicios" class="lg:h-screen text-slate-800 flex flex-col items-center border-t-[2px] border-black overflow-hidden" style="background-color: #C5D5CB;">
    <div class="lg:w-3/5 flex flex-col justify-center items-center lg:gap-0 gap-3 lg:p-36 p-10 lg:border-r-2 border-black overflow-hidden">
        <h4 class="text-xl opacity-80">Subtitulo superior</h4>
        <h2 class="lg:text-6xl text-4xl font-serif mb-3 font-bold">Servicios</h2>
        <p class="text-lg text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, minima sed quo at earum excepturi architecto explicabo atque saepe dolorum voluptatibus veritatis numquam recusandae obcaecati voluptatum asperiores exercitationem, dignissimos cupiditate.
        </p>
    </div>

    <div class="px-20 flex gap-x-10 gap-y-20 flex-wrap">
        <div class="w-60 h-48 border-[2px] border-black font-mono relative grid place-content-center" style="background-color: #EADBD6;">
            <div class="h-20 w-20 text-xl border-[2px] border-black rounded-full grid place-content-center absolute -top-10 left-1/2 -translate-x-1/2" style="background-color: #F7F2ED;"><i class="bi bi-star-fill"></i></div>
            <p class="p-5">Dietas personalizadas 1:1 analizando gustos y hábitos.</p>
        </div>
        <div class="w-60 h-48 border-[2px] border-black font-mono relative grid place-content-center" style="background-color: #EADBD6;">
            <div class="h-20 w-20 text-xl border-[2px] border-black rounded-full grid place-content-center absolute -top-10 left-1/2 -translate-x-1/2" style="background-color: #F7F2ED;"><i class="bi bi-star-fill"></i></div>
            <p class="p-5">Dietas personalizadas 1:1 analizando gustos y hábitos.</p>
        </div>
        <div class="w-60 h-48 border-[2px] border-black font-mono relative grid place-content-center" style="background-color: #EADBD6;">
            <div class="h-20 w-20 text-xl border-[2px] border-black rounded-full grid place-content-center absolute -top-10 left-1/2 -translate-x-1/2" style="background-color: #F7F2ED;"><i class="bi bi-star-fill"></i></div>
            <p class="p-5">Dietas personalizadas 1:1 analizando gustos y hábitos.</p>
        </div>
    </div>
</section>